@use './partials/global' as *;

.destination__container--Hawaii {
    background-image: url("../assets/Images/hawaii.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 43rem;
}

.destination__container--Iceland {
    background-image: url("../assets/Images/iceland.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 43rem;
}

.destination__container--Greece {
    background-image: url("../assets/Images/greece.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 43rem;
}

.destination__container {
    &__title {
        color: #FFFFFF;

        @include tablet {
            font-size: 5rem;
            text-align: center;
            padding: 0.25em;
        }

        @include desktop {
            font-size: 4rem;
            text-align: left;
            padding: 0.90em 0em 0.50em 1.5em;    /*Customized padding applied to match display as Mock document*/

        }
    }

    &__itinerary {
        display: flex;
        justify-content: center;
    
            &__card {
                background-color: #FFFFFF;
                padding: 0.80em;
                height: 24rem;
                border-radius: 0.3125rem;
                text-align: center;

                @include tablet {
                    margin: 1.5em;
                    width: 20vmax;
                }

                @include desktop {
                    margin: 1.25em;
                    width: 15.72rem;
                    
                }

                    &__title {
                        border-bottom: 0.125rem solid black;
                        text-align: center;
                        margin-bottom: 1.50em; /*added to include space between day, and activities. This to make it look as the Mock doc*/                    
                    }

                    &--list {
                        list-style-type: none;
                    }

                    &--activities {
                        margin: 1em 0em; /*Used a 1em margin to match Mock document*/
                        padding: 1em 0em;/*Used a 1em padding to match Mock document*/
                        background-color: #FEFAF5;
                        font-size: 1em;
                    }
            }
    }
}