@use './partials/global' as *;
@use './partials/media-query' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.destination__container {

    &--Hawaii {
        @include destination ($hawaii);     /*Mixin used to apply background images through websites*/
    }

    &--Iceland {
        @include destination ($iceland);   /*Mixin used to apply background images through websites*/
    }
    
    &--Greece {
        @include destination ($greece);    /*Mixin used to apply background images through websites*/
    }


    &__title {
        color: $white;

        @include tablet {
            font-size: 5rem;
            text-align: center;
            padding: 0.25em;
        }

        @include desktop {
            font-size: 4rem;
            text-align: left;
            padding: 0.90em 0em 0.50em 1.5em;    /*Customized padding applied to match display as Mock document*/
        }
    }

    &__itinerary {
        display: flex;
        justify-content: center;
    
            &__card {
                background-color: $white;
                padding: 0.80em;
                height: 24rem;
                border-radius: 0.3125rem;
                text-align: center;

                @include tablet {
                    margin: 1.5em;
                    width: 20vmax;
                }

                @include desktop {
                    margin: 1.25em;
                    width: 15.72rem;
                    
                }

                    &__title {
                        border-bottom: 0.125rem solid $black;
                        text-align: center;
                        margin-bottom: 1.50em; /*added to include space between day, and activities. This to make it look as the Mock doc*/                    
                    }

                    &--list {
                        list-style-type: none;
                    }

                    &--activities {
                        margin: 1em 0em; /*Used a 1em margin to match Mock document*/
                        padding: 1em 0em;/*Used a 1em padding to match Mock document*/
                        background-color: $travel-salmon;
                        font-size: 1em;
                    }
            }
    }
}