@use './partials/global' as *;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}


button:hover {
    cursor: pointer;
}

.recommendations__destinations__link:hover {
    border-radius: 0.3125rem;
    box-shadow: 1rem 1rem 1rem rgba(96, 143, 87, 0.7);
}

.hero {
    width: 100%;
    background-color: #FEFAF5;
    padding: 2em 3.25em 5em 3.25em; /*Fixed margin to match display hero section layout as in the Mock doc*/
    
    @include tablet {
        display: block;
    }

    @include desktop {
        display: flex;
        justify-content: space-around;
    }

        &__container-text {
            align-self: center;
            text-align: left;

            @include tablet {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include desktop {
                display: block; /*Included to prevent desktop view inherit display: flex*/
            }
        
                &__title {
                    color: #335576;                                 

                    @include tablet {
                        font-size: 2.8rem;
                        width: 70vw;
                        text-align: center;  
                        padding-bottom: 0.50em; 
                    }

                    @include desktop {
                        font-size: 2.30rem;
                        width: 40vw;
                        text-align: left;   
                        padding-bottom: 1em;  
                    }
                }

                &__paragraph{
                    color: #335576;
                    
                    @include tablet {
                        width: 46vw;
                        font-size: 1.25rem;
                        text-align: center;
                        padding-bottom: 0.75em;
                    }

                    @include desktop {
                        width: 46vw;
                        font-size: 0.9rem;
                        text-align: left;
                        padding-bottom: 2em;
                    }
                }

                &__button  {
                    background-color: #DB7A4E;
                    color:  #FFFFFF;
                    width: 10rem;
                    padding: 0.75em;
                    font-family: inherit;
                    border: none;
                    border-radius: 1.875rem;

                    @include tablet {
                        font-size: 1.25rem;
                    }

                    @include desktop {
                        font-size: 0.833rem;
                    }


                }
        }

        &__container-image--airplane {
            padding-top: 1.25em;    /*padding added to match display layout as the Mock doc*/
            
            @include tablet {
                height: 29rem;
                display: block;
                margin-left: auto;
                margin-right: auto; /*Centers image when Tablet responsive design is applied*/
            }
            
            @include desktop {
                height: 24rem;
                margin-left: 0em;
                margin-right: 0em; /*used to align image layout to Mock document*/
            }
        }
}

.recommendations {
    background-color: #FFFFFF;
    padding: 1.25em;
    margin: 1.25em;

        &__title {
            color: #335576;

            @include tablet {
                font-size: 2rem;
                text-align: center;
                margin-left: 0em;
            }

            @include desktop {
                font-size: 1.35rem;
                text-align: left;
                margin-left: 2em;
            }
        }


        &__destinations {
          
            @include tablet {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include desktop {
                display: flex;
                justify-content: center;
                flex-direction: row;
                padding: 0.5em 0em 1.25em 0em;   /*Fixed padding to match layout as in the Mock doc*/            
            }

            &__link {
                @include tablet {
                    margin: 0.5em;  /*adds a margin around the images, and to make the image link exclusively clickable in the image, and not the surroundings outside of the image*/
                }

                @include desktop {
                    margin: 1.25em; /*adds a margin around the images, and to make the image link exclusively clickable in the image, and not the surroundings outside of the image*/
                }
            }

            &__card {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                position: relative;

                &__text {
                    position: absolute;
                    color: #FFFFFF;
                    padding: 0.75em;
                    font-size: 1.5rem; 
                    font-weight: 700;
                }

                &__image {
                    border-radius: 0.3125rem;
                    border: 0.0625rem solid rgba(0, 0, 0, 0.2);
                    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);

                    @include tablet {
                        height: 50vmax;
                    }

                    @include desktop {
                        height: 25rem;
                    }
                }
            }
        }
}