* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /*ASK IF THIS IS THE CORRECT FONT*/
}

.header-page {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  align-items: baseline;
  margin: 1.25em 1.25em 0.625em 1.25em; /*Customized margin applied to match display as Mock document*/
}
.header-page__link {
  text-decoration: none;
}
.header-page__link__title {
  color: #335576;
}
@media (min-width: 768px) {
  .header-page__link__title {
    font-size: 1.5rem;
    margin-right: 10em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
  }
}
@media (min-width: 1280px) {
  .header-page__link__title {
    font-size: 1.2rem;
    margin-right: 30em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
  }
}
.header-page__navigation {
  display: inline-block;
}
@media (min-width: 768px) {
  .header-page__navigation {
    margin: 0em 0.25em; /*Adds spacing between nav links */
  }
}
@media (min-width: 1280px) {
  .header-page__navigation {
    margin: 0em 0.5em; /*Adds spacing between nav links */
  }
}
.header-page__navigation__link {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  .header-page__navigation__link {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .header-page__navigation__link {
    font-size: 0.85rem;
  }
}
.header-page__navigation__link:hover {
  border-bottom: 0.2rem solid rgb(137, 137, 204);
}
@media (min-width: 768px) {
  .header-page__navigation__link:hover {
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1280px) {
  .header-page__navigation__link:hover {
    padding-bottom: 0.6em;
  }
}
.header-page__navigation__alignment--home {
  margin-left: 0em; /*Removes margin of "home" link, in the nav section, to align nav section to the left*/
}
.header-page__navigation__alignment--greece {
  margin-right: 0em; /*Removed margin of "Greece" link, in the nav section, to align nav section to the right*/
}
.header-page__navigation--current-site {
  border-bottom: 0.2rem solid #DB7A4E;
  padding-bottom: 0.5em;
}

.footer-page {
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-around;
}
.footer-page__box--contact {
  padding: 1.75em 0em 1.75em 4.75em; /*Customized padding to match footer display as in the Mock document*/
}
@media (min-width: 768px) {
  .footer-page__box--contact {
    margin-left: 0em;
    padding-left: 1.5em;
  }
}
@media (min-width: 1280px) {
  .footer-page__box--contact {
    margin-left: 4.5em;
    padding-left: 4.75em;
  }
}
.footer-page__box--hours {
  padding: 1.75em 0em;
}
.footer-page__box--date {
  display: inline-block;
}
.footer-page__box--date-alignment {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-page__box--date-alignment {
    padding: 0em;
  }
}
@media (min-width: 1280px) {
  .footer-page__box--date-alignment {
    padding: 0em 1.25em;
  }
}
@media (min-width: 768px) {
  .footer-page__box--social {
    margin-right: 0em;
    padding: 1.75em 2.75em 1.75em 0em;
  }
}
@media (min-width: 1280px) {
  .footer-page__box--social {
    margin-right: 4.5em;
    padding: 1.75em 2.75em 1.75em 0em; /*Customized padding to match footer display as in the Mock document*/
  }
}
.footer-page__title {
  color: #335576;
  padding: 1em 1em 1em 0em;
}
.footer-page__subtitle {
  color: #DB7A4E;
  font-size: 0.6rem;
  font-weight: 500;
  padding-bottom: 1em;
}
.footer-page__paragraph {
  color: #335576;
  font-size: 0.9rem;
  padding-bottom: 1.5em; /*Customized padding to match display as in the Mock document adding precise padding bottom*/
}
.footer-page__logo {
  height: 1.5rem;
  margin-top: 0.75em;
}
@media (min-width: 768px) {
  .footer-page__logo {
    margin-right: 0.5em;
  }
}
@media (min-width: 1280px) {
  .footer-page__logo {
    margin-right: 2em;
  }
}
.footer-page__box--social-link {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.recommendations__destinations__link:hover {
  border-radius: 0.3125rem;
  box-shadow: 1rem 1rem 1rem rgba(96, 143, 87, 0.7);
}

.hero {
  width: 100%;
  background-color: #FEFAF5;
  padding: 2em 3.25em 5em 3.25em; /*Fixed margin to match display hero section layout as in the Mock doc*/
}
@media (min-width: 768px) {
  .hero {
    display: block;
  }
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: space-around;
  }
}
.hero__container-text {
  align-self: center;
  text-align: left;
}
@media (min-width: 768px) {
  .hero__container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .hero__container-text {
    display: block; /*Included to prevent desktop view inherit display: flex*/
  }
}
.hero__container-text__title {
  color: #335576;
}
@media (min-width: 768px) {
  .hero__container-text__title {
    font-size: 2.8rem;
    width: 70vw;
    text-align: center;
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1280px) {
  .hero__container-text__title {
    font-size: 2.3rem;
    width: 40vw;
    text-align: left;
    padding-bottom: 1em;
  }
}
.hero__container-text__paragraph {
  color: #335576;
}
@media (min-width: 768px) {
  .hero__container-text__paragraph {
    width: 46vw;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.75em;
  }
}
@media (min-width: 1280px) {
  .hero__container-text__paragraph {
    width: 46vw;
    font-size: 0.9rem;
    text-align: left;
    padding-bottom: 2em;
  }
}
.hero__container-text__button {
  background-color: #DB7A4E;
  color: #FFFFFF;
  width: 10rem;
  padding: 0.75em;
  font-family: inherit;
  border: none;
  border-radius: 1.875rem;
}
@media (min-width: 768px) {
  .hero__container-text__button {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__container-text__button {
    font-size: 0.833rem;
  }
}
.hero__container-image--airplane {
  padding-top: 1.25em; /*padding added to match display layout as the Mock doc*/
}
@media (min-width: 768px) {
  .hero__container-image--airplane {
    height: 29rem;
    display: block;
    margin-left: auto;
    margin-right: auto; /*Centers image when Tablet responsive design is applied*/
  }
}
@media (min-width: 1280px) {
  .hero__container-image--airplane {
    height: 24rem;
    margin-left: 0em;
    margin-right: 0em; /*used to align image layout to Mock document*/
  }
}

.recommendations {
  background-color: #FFFFFF;
  padding: 1.25em;
  margin: 1.25em;
}
.recommendations__title {
  color: #335576;
}
@media (min-width: 768px) {
  .recommendations__title {
    font-size: 2rem;
    text-align: center;
    margin-left: 0em;
  }
}
@media (min-width: 1280px) {
  .recommendations__title {
    font-size: 1.35rem;
    text-align: left;
    margin-left: 2em;
  }
}
@media (min-width: 768px) {
  .recommendations__destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .recommendations__destinations {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0.5em 0em 1.25em 0em; /*Fixed padding to match layout as in the Mock doc*/
  }
}
@media (min-width: 768px) {
  .recommendations__destinations__link {
    margin: 0.5em; /*adds a margin around the images, and to make the image link exclusively clickable in the image, and not the surroundings outside of the image*/
  }
}
@media (min-width: 1280px) {
  .recommendations__destinations__link {
    margin: 1.25em; /*adds a margin around the images, and to make the image link exclusively clickable in the image, and not the surroundings outside of the image*/
  }
}
.recommendations__destinations__card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.recommendations__destinations__card__text {
  position: absolute;
  color: #FFFFFF;
  padding: 0.75em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .recommendations__destinations__card__text {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .recommendations__destinations__card__text {
    font-size: 1.5rem;
  }
}
.recommendations__destinations__card__image {
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .recommendations__destinations__card__image {
    height: 50vmax;
  }
}
@media (min-width: 1280px) {
  .recommendations__destinations__card__image {
    height: 25rem;
  }
}/*# sourceMappingURL=main.css.map */