@use './partials/global' as *;
@use './partials/media-query' as *;
@use './partials/variables' as *;
@use './partials/button' as *;

label { /*Style for questions*/
    color: $travel-orange;
}

select, input {    /*Style for input (multiple choice answer) and style input entered by the user*/
    color: $travel-blue;
    font-size: 1em;
}

.registration {
    width: 100%;
    background-color: $travel-salmon;
    
    @include tablet {
        display: block;
    }

    @include desktop {
        display: flex;
        padding: 2em 3.25em 5em 3.25em;
    }

    &__info {
        &__title {
            color: $travel-blue;
            font-size: 2.30rem;
            padding: 1.25em;
            text-align: center;
        }

        &__destination-select {
            margin-left: 3em;
        }

        &--personal-information {
            padding-left: 3em;
        }

        &__text {
            margin: 1.25em 1em 0.5em 2.80em;
            color:$travel-blue;
        }

        &__button {
            @extend .button;
            margin: 1.25em 3.5em;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: yellowgreen;
                }
        }
    }

    &__pictures {
        display: flex;

        @include tablet {
            justify-content: center;
            padding: 1.25em;
        }

        @include desktop {
            align-items: center;
        }

            &__link {

                @include tablet {
                    margin: 1.25em;
                }

                @include desktop {
                    margin: 0em;
                }
                
            }
        
            &__images {

                @include tablet {
                    height: 40vw;
                }

                @include desktop {
                    height: 19rem;
                }
                
            }
    }
}
