/*Colors*/
/*Responsive Design Breakpoints*/
/*Background Images*/
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-page {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  align-items: baseline;
  margin: 1.25em 1.25em 0.625em 1.25em; /*Customized margin applied to match display as Mock document*/
}
.header-page__link {
  text-decoration: none;
}
.header-page__link__title {
  color: #335576;
}
@media (min-width: 320px) {
  .header-page__link__title {
    font-size: 0.8rem;
    margin-right: 2.5em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
  }
}
@media (min-width: 768px) {
  .header-page__link__title {
    font-size: 1.5rem;
    margin-right: 10em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
  }
}
@media (min-width: 1280px) {
  .header-page__link__title {
    font-size: 1.2rem;
    margin-right: 30em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
  }
}
.header-page__navigation {
  display: inline-block;
}
@media (min-width: 320px) {
  .header-page__navigation {
    margin: 0em 0.1em; /*Adds spacing between nav links */
  }
}
@media (min-width: 768px) {
  .header-page__navigation {
    margin: 0em 0.25em; /*Adds spacing between nav links */
  }
}
@media (min-width: 1280px) {
  .header-page__navigation {
    margin: 0em 0.5em; /*Adds spacing between nav links */
  }
}
.header-page__navigation__link {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 320px) {
  .header-page__navigation__link {
    font-size: 0.6rem;
  }
}
@media (min-width: 768px) {
  .header-page__navigation__link {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .header-page__navigation__link {
    font-size: 0.85rem;
  }
}
.header-page__navigation__link:hover {
  border-bottom: 0.2rem solid rgb(137, 137, 204);
}
@media (min-width: 320px) {
  .header-page__navigation__link:hover {
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .header-page__navigation__link:hover {
    padding-bottom: 0.5em;
  }
}
@media (min-width: 1280px) {
  .header-page__navigation__link:hover {
    padding-bottom: 0.63em;
  }
}
.header-page__navigation__alignment--home {
  margin-left: 0em; /*Removes margin of "home" link, in the nav section, to align nav section to the left*/
}
.header-page__navigation__alignment--greece {
  margin-right: 0em; /*Removed margin of "Greece" link, in the nav section, to align nav section to the right*/
}
.header-page__navigation--current-site {
  border-bottom: 0.2rem solid #DB7A4E;
  padding-bottom: 0.5em;
}

.footer-page {
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-around;
}
.footer-page__box--contact {
  padding: 1.75em 0em 1.75em 4.75em; /*Customized padding to match footer display as in the Mock document*/
}
@media (min-width: 320px) {
  .footer-page__box--contact {
    margin-left: 0em;
    padding-left: 0.25em;
    padding-right: 2em;
  }
}
@media (min-width: 768px) {
  .footer-page__box--contact {
    margin-left: 0em;
    padding-left: 1.5em;
    padding-right: 0em;
  }
}
@media (min-width: 1280px) {
  .footer-page__box--contact {
    margin-left: 4.5em;
    padding-left: 4.75em;
    padding-right: 0em;
  }
}
.footer-page__box--hours {
  padding: 1.75em 0em;
}
.footer-page__box--date {
  display: inline-block;
}
.footer-page__box--date-alignment {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-page__box--date-alignment {
    padding: 0em;
  }
}
@media (min-width: 1280px) {
  .footer-page__box--date-alignment {
    padding: 0em 1.25em;
  }
}
@media (min-width: 320px) {
  .footer-page__box--social {
    margin-right: 0em;
    padding: 1.75em 1.5em 1.75em 1em;
  }
}
@media (min-width: 768px) {
  .footer-page__box--social {
    margin-right: 0em;
    padding: 1.75em 2.75em 1.75em 0em;
  }
}
@media (min-width: 1280px) {
  .footer-page__box--social {
    margin-right: 4.5em;
    padding: 1.75em 2.75em 1.75em 0em; /*Customized padding to match footer display as in the Mock document*/
  }
}
.footer-page__title {
  color: #335576;
  padding: 1em 1em 1em 0em;
}
@media (min-width: 320px) {
  .footer-page__title {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .footer-page__title {
    font-size: 1.5rem;
  }
}
.footer-page__subtitle {
  color: #DB7A4E;
  font-weight: 500;
  padding-bottom: 1em;
}
@media (min-width: 320px) {
  .footer-page__subtitle {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .footer-page__subtitle {
    font-size: 0.6rem;
  }
}
.footer-page__paragraph {
  color: #335576;
  font-size: 0.9rem;
  padding-bottom: 1.5em; /*Customized padding to match display as in the Mock document adding precise padding bottom*/
}
@media (min-width: 320px) {
  .footer-page__paragraph {
    font-size: 0.6rem;
  }
}
@media (min-width: 768px) {
  .footer-page__paragraph {
    font-size: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .footer-page__paragraph {
    font-size: 0.9rem;
  }
}
.footer-page__logo {
  margin-top: 0.75em;
}
@media (min-width: 320px) {
  .footer-page__logo {
    margin-right: 0.5em;
    height: 1rem;
  }
}
@media (min-width: 768px) {
  .footer-page__logo {
    height: 1.5rem;
    margin-right: 0.5em;
  }
}
@media (min-width: 1280px) {
  .footer-page__logo {
    height: 1.5rem;
    margin-right: 2em;
  }
}
.footer-page__box--social-link {
  text-decoration: none;
}

.button, .registration__info__button {
  background-color: #DB7A4E;
  color: #FFFFFF;
  width: 10rem;
  padding: 0.75em;
  font-family: inherit;
  border: none;
  border-radius: 1.875rem;
}

label { /*Style for questions*/
  color: #DB7A4E;
}
@media (min-width: 320px) {
  label {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  label {
    font-size: 1rem;
  }
}

select, input { /*Style for input (multiple choice answer) and style input entered by the user*/
  color: #335576;
}
@media (min-width: 320px) {
  select, input {
    font-size: 0.75rem;
    margin-left: 3em;
  }
}
@media (min-width: 768px) {
  select, input {
    font-size: 1rem;
    margin-left: 0em;
  }
}

.registration {
  width: 100%;
  background-color: #FEFAF5;
}
@media (min-width: 320px) {
  .registration {
    display: block;
  }
}
@media (min-width: 1280px) {
  .registration {
    display: flex;
    padding: 2em 3.25em 5em 3.25em;
  }
}
.registration__info__title {
  color: #335576;
  padding: 1.25em;
  text-align: center;
}
@media (min-width: 320px) {
  .registration__info__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .registration__info__title {
    font-size: 2.3rem;
  }
}
.registration__info__destination-select {
  margin-left: 3em;
}
.registration__info--personal-information {
  padding-left: 3em;
}
.registration__info__text {
  margin: 1.25em 1em 0.5em 2.8em;
  color: #335576;
}
.registration__info__button {
  margin: 1.25em 3.5em;
}
.registration__info__button:hover {
  cursor: pointer;
}
.registration__info__button:active {
  background-color: yellowgreen;
}
.registration__pictures {
  display: flex;
}
@media (min-width: 320px) {
  .registration__pictures {
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .registration__pictures {
    align-items: center;
  }
}
@media (min-width: 320px) {
  .registration__pictures__link {
    margin: 0.5em;
  }
}
@media (min-width: 1280px) {
  .registration__pictures__link {
    margin: 0em;
  }
}
@media (min-width: 320px) {
  .registration__pictures__images {
    height: 40vw;
  }
}
@media (min-width: 1280px) {
  .registration__pictures__images {
    height: 19rem;
  }
}/*# sourceMappingURL=registration.css.map */