@use './partials/global' as *;

label { /*Style for questions*/
    color: #DB7A4E;
}

select {    /*Style for input (multiple choice answer)*/
    color: #335576;
    font-size: 1em;
}

input {
    color: #335576;
    font-size: 1rem;
}

.registration {
    width: 100%;
    background-color: #FEFAF5;
    
    @include tablet {
        display: block;
    }

    @include desktop {
        display: flex;
        padding: 2em 3.25em 5em 3.25em; /*Fixed margin to match display hero section layout as in the Mock doc*/
    }

    &__info {
        &__title {
            color: #335576;
            font-size: 2.30rem;
            padding: 1.25em;
            text-align: center;
        }

        &__destination-select {
            margin-left: 3em;
        }

        &--personal-information {
            padding-left: 3em;
        }

        &__text {
            margin: 1.25em 1em 0.5em 2.80em;
            color:#335576;
        }

        &__button {
            background-color: #DB7A4E;
            color:  #FFFFFF;
            width: 10rem;
            padding: 0.75em;
            font-family: inherit;
            border: none;
            border-radius: 1.875rem;
            margin: 1.25em 3.5em;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: yellowgreen;
                }
        }
    }

    &__pictures {
        
        @include tablet {
            display: flex;
            justify-content: center;
            padding: 1.25em;
        }

        @include desktop {
            display: flex;
            align-items: center;
        }

            &__link {

                @include tablet {
                    margin: 1.25em;
                }

                @include desktop {
                    margin: 0em;
                }
                
            }
        
            &__images {

                @include tablet {
                    height: 40vw;
                }

                @include desktop {
                    height: 19rem;
                }
                
            }
    }
}
