* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*ASK IF THIS IS THE CORRECT FONT*/
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

.header-page {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: baseline;
    margin: 1.25em 1.25em 0.625em 1.25em; /*Customized margin applied to match display as Mock document*/

        &__link {
            text-decoration: none;
        
            &__title {
                color: #335576;

                @include tablet {
                    font-size: 1.50rem;
                    margin-right: 10em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
                }

                @include desktop {
                    font-size: 1.20rem;
                    margin-right: 30em; /*Customized margin applied to obtain spacing between nav section (in the middle between logo ("Travel Site" and nav), this to macth Mock document display*/
                }
            }
        }

        &__navigation {
            display: inline-block;

            @include tablet {
                margin: 0em 0.25em;  /*Adds spacing between nav links */
            }

            @include desktop {
                margin: 0em 0.5em;  /*Adds spacing between nav links */
            }

                &__link {
                    text-decoration: none;
                    color: black;

                    @include tablet {
                        font-size: 1rem;
                    }

                    @include desktop {
                        font-size: 0.85rem;
                    }

                        &:hover {
                            border-bottom: 0.2rem solid rgb(137, 137, 204);
                            
                            @include tablet {
                                padding-bottom: 0.50em;
                            }

                            @include desktop {
                                padding-bottom: 0.60em;
                            }    
                        }
                }


                &__alignment--home {
                    margin-left: 0em;   /*Removes margin of "home" link, in the nav section, to align nav section to the left*/
                }

                &__alignment--greece {
                    margin-right: 0em; /*Removed margin of "Greece" link, in the nav section, to align nav section to the right*/
                }

                &--current-site {
                    border-bottom: 0.2rem solid  #DB7A4E;
                    padding-bottom: 0.50em;
                }
        }
}



.footer-page {
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-around;

        &__box--contact {
            padding: 1.75em 0em 1.75em 4.75em;  /*Customized padding to match footer display as in the Mock document*/

            @include tablet {
                margin-left: 0em;
                padding-left: 1.5em;
            }

            @include desktop {
                margin-left: 4.5em;
                padding-left: 4.75em;
            }
        }

        &__box--hours {
            padding: 1.75em 0em;
        }

            &__box--date {
                display: inline-block;
            }

            &__box--date-alignment {
                display: inline-block; 
                

                @include tablet {
                    padding: 0em;
                }

                @include desktop {
                    padding: 0em 1.25em;
                }
            }

        &__box--social {
            
            @include tablet {
                margin-right: 0em;
                padding: 1.75em 2.75em 1.75em 0em;;
            }

            @include desktop{
                margin-right: 4.5em;
                padding: 1.75em 2.75em 1.75em 0em;  /*Customized padding to match footer display as in the Mock document*/
            }
        }
        
        &__title {
            color: #335576;
            padding: 1em 1em 1em 0em;
        }

        &__subtitle {
            color: #DB7A4E;
            font-size: 0.6rem;
            font-weight: 500;
            padding-bottom: 1em;
        }

        &__paragraph {
            color: #335576;
            font-size: 0.9rem;
            padding-bottom: 1.50em; /*Customized padding to match display as in the Mock document adding precise padding bottom*/        
        }

        &__logo {
            height: 1.5rem;
            margin-top: 0.75em;
            
            @include tablet {
                margin-right: 0.5em;
            }
            @include desktop {
                margin-right: 2em;
            }
        }

        &__box--social-link {
            text-decoration: none;
        }  
}
