/*Colors*/
$white: #FFFFFF;
$black: #000000;
$travel-salmon: #FEFAF5;
$travel-blue: #335576;
$travel-orange: #DB7A4E;
$travel-purple: rgb(137, 137, 204);
$travel-green: rgba(96, 143, 87, 0.7);

/*Responsive Design Breakpoints*/
$tablet: 768px;
$dekstop: 1280px;

/*Background Images*/
$hawaii: url("../../assets/Images/hawaii.jpg");
$iceland: url("../../assets/Images/iceland.jpg");
$greece: url("../../assets/Images/greece.jpg");